## Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.axes as ax
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Load Dataset

In [20]:
df_index = pd.read_csv('economic_data.csv')

In [21]:
df_index.head(5)

   year  month  interest_rate  unemployment_rate  index_price
0  1924      1           3.50               5.19   534.714897
1  1925      1           2.86               4.36   424.911412
2  1926      1           3.65               5.18   582.253910
3  1927      1           4.52               5.81   784.797318
4  1928      1           2.77               5.07   321.169866

In [22]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               1200 non-null   int64
 1   month              1200 non-null   int64
 2   interest_rate      1200 non-null   float64
 3   unemployment_rate  1200 non-null   float64
 4   index_price        1200 non-null   float64
dtypes: float64(3), int64(2)
memory usage: 47.0 KB

In [ ]:
df_index = df_index[df_index['year'] < 2016]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [12]:
df_index.head(5)

     year  month  interest_rate  unemployment_rate  index_price
92   2016      1           2.30               4.99   184.040178
192  2016      2           3.21               8.02   143.007065
292  2016      3           2.41               4.15   307.748828
392  2016      4           1.68               5.65   -78.567930
492  2016      5           3.08               6.31   285.060710

In [ ]:
## Dropping the year and month columns
df_index.drop(['year', 'month'], axis=1, inplace=True)

In [ ]:
## Checking for missing values
df_index.isnull().sum()

In [ ]:
## Visualizing the data
sns.pairplot(df_index)

In [ ]:
## Checking for correlation
df_index.corr()

In [ ]:
## Visualizing the datapoints more closely
plt.scatter(df_index['interest_rate'], df_index['unemployment_rate'])